.div1 { 
    background-image: linear-gradient(45deg, var(--teal), var(--purple), var(--orange));
    color: var(--off-white);
    grid-area: 1 / 1 / 2 / 7; 
    padding: 10px 20px;
}

.div2 { 
    background-color: var(--dark-blue);
    grid-area: 2 / 1 / 3 / 7; 
    padding: 10px 20px;
}

.div3 { grid-area: 3 / 2 / 4 / 6; }


.div4, .div5, .div6, .div7 {
    background-color: var(--off-white);
    color: var(--dark-text);
    border-radius: 10px;
    padding: 15px;
    border: 3px solid var(--dark-blue);
}

.div4 { grid-area: 4 / 2 / 7 / 3; }
.div5 { grid-area: 4 / 3 / 7 / 4; }
.div6 { grid-area: 4 / 4 / 7 / 5; }
.div7 { grid-area: 4 / 5 / 7 / 6; }

/* Navigation List */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--dark-blue);
}

ul li {
    float: left;
}

button {
    display: block;
    background-color: var(--dark-blue);
    color: var(--off-white);
    border: 1px solid var(--teal);
    text-align: center;
    float: left;
    margin: 0;
    padding: 15px 15px;
    text-decoration: none;
    transition: border-radius 0.4s ease, 
                background-color 0.4s ease,
                color 0.4s ease;
}

button:hover {
    color: var(--off-white);
    background-color: var(--teal);
    border-radius: 5px;
}


ul li:first-child button {
    border-radius: 12px 0 0 12px;
}

ul li:last-child button {
    border-radius: 0 12px 12px 0;
}

ul li button:not(:first-child):not(:last-child) {
    border-radius: 0;
}

h1 {
    margin: 0;
}

img {
    width: 50px;
    height: 50px;
}

.profilePhoto {
    width: 140px;
    height: 120px;
}

.divBody {
    background-color: var(--off-white);
    color: var(--dark-text);
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('../fonts/JetBrainsMonoNLNFP-Medium.woff2') format('woff2'),
         url('../fonts/JetBrainsMonoNLNFP-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    font-family: 'MyCustomFont', sans-serif;
}